<div>
	
<div class="nav">
	<div class="glyphicon glyphicon-chevron-left" style="color:#A0A0A0;padding-top:3%;padding-left:7%;" ui-sref="bq"></div>
	<div ng-click="tj()" class="glyphicon glyphicon-ok" style="color:#A0A0A0;padding-top:3%;float:right;padding-right:7%;"></div>
</div>
<h4>标题</h4>
<textarea name="" id="" cols="40" rows="1" ng-model="xdata.title"></textarea>
<h4>内容</h4>
<textarea name="" id="" cols="40" rows="10" ng-model="xdata.content"></textarea>
<button type="button" class="btn btn-info hy" ng-click="save()">保存</button>
</div>

<style>
	.nav{
		width:100%;
		height:40px;
		background:#222222;
	}
	h4{
		color:#3B3B3B;
		font-weight:bold;
	}
</style>