<!--<div>
	
	<form name="myform">
		<p><input type="text"/></p>
		<p><input type="password"/></p>
        
	</form>
</div>


-->

<div style="margin:0px 20px;">
	<h3>用户注册</h3>
	<div class="input-group">
	  <p>用户名：<input type="text" ng-model="updata.username" class="form-control" placeholder="Username"></p>
	</div>
	<div class="input-group">
	  <p>密  码：<input type="password" ng-model="updata.password" class="form-control" placeholder="Password"></p>
	</div>
	<div class="input-group">
	  <p>确认密码：<input type="password" class="form-control" placeholder="Password"></p>
	</div>
	<button style="width: 100%;margin-top: 20px;" type="button" ng-click="ad()" class="btn btn-info">注册</button>
</div>


